<a href="https://colab.research.google.com/github/pxs1990/OOP_Py/blob/main/dspy1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PYTHON COURSE FOR DATA SCIENCE
!python --version
print("hello")

Python 3.10.12
hello

In [ ]:
# DATA TYPE
var1='Pushpa'
print(var1)
print(type(var1))
var1=33
print(var1)
print(type(var1))
var1=1.5
print(var1)
print(type(var1))
var1=True
print(var1)
print(type(var1))

Pushpa
<class 'str'>
33
<class 'int'>
1.5
<class 'float'>
True
<class 'bool'>

In [ ]:
D2={'1': 7.4, '2': 9.2, '3': 5.2}

{'1': 7.4, '2': 9.2, '3': 5.2}

In [ ]:
D2={'1': 7.4, '2': 9.2, '3': 5.2}
for k in D2:
  print("key is ", k+' and '+ "value is" ,D2[k])

key is  1 and value is 7.4
key is  2 and value is 9.2
key is  3 and value is 5.2

In [ ]:
#DATA TYPES
id=235
print(id, type(id))
distance=3.5
print(distance,type(distance))
complx=2+3j
print(complx,type(complx))
isStudent=True
print(isStudent,type(isStudent))
name='pushpa'
print(name,type(name))
name="pushpa"
print(name,type(name))

name='''pushpa'''
print(name,type(name))
name="pushpa"
print(name,type(name))

name="""pushpa"""
print(name,type(name))

235 <class 'int'>
3.5 <class 'float'>
(2+3j) <class 'complex'>
True <class 'bool'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>
pushpa <class 'str'>

In [ ]:
st="pushpa"
st.capitalize()

'Pushpa'

In [ ]:
st.casefold()# caseless

'pushpa'

In [ ]:
st.center(10,'*')#width>len() and if char is not assigned, it center alligns with space

'**pushpa**'

In [ ]:
st.ljust(10,'*')

'pushpa****'

In [ ]:
st.rjust(10,'*')

'****pushpa'

In [ ]:
st.count('a')

1

In [ ]:
st.encode('ASCII')#converts to byptes

b'pushpa'

In [ ]:
st.endswith('a')#boolean
st.startswith('a')

False

In [ ]:
st1= "Hello\tworld\twith\ttabs."
print(st1)
st1.expandtabs()# default tab size is8
st1.expandtabs(20)

Hello	world	with	tabs.

'Hello               world               with                tabs.'

In [ ]:
st="pushpa"
st.find('u')# index of first occurence of substr
st.find('u',2,5)# index in sliced string
st.rfind("p")#indenx of last occurence of substr

4

In [ ]:
st="pushpa"
st.index('p')# first occurence BUT when index not found it gives ValueError
st.rindex('p')#last occurence

In [ ]:
name="pushpa"
age="33"
st="my name is {} and I am {} years old"
st.format(name,age)#prints formatted str by inserting dynamic values in a placeholder.
#print(f"my name is {name} and I am {age} years old")

'my name is pushpa and I am 33 years old'

In [ ]:
D = {'name': 'Pushpa', 'age': 33}
st = "My name is {name} and I am {age} years old."
# st.format_map(D)
print(f"My name is {D['name']} and I am {D['age']} years old.")

My name is Pushpa and I am 33 years old.

In [ ]:
st.swapcase()

'MY NAME IS {} AND i AM {} YEARS OLD'

In [ ]:
st.isalpha()

True

In [ ]:
#st.isnumeric(),st.isalnum(), st.isascii(), st.isdigit() ,st.isdecimal(), st.islower(),st.isupper()

In [ ]:
st.isidentifier()
# An identifier is a name used to identify a variable, function, class, module, or other objects in Python.
# It must start with a letter (a-z, A-Z) or an underscore (_).
# The remaining characters can be letters, underscores, or digits (0-9).

In [ ]:
st.istitle()#True each word starts with an uppercase

False

In [ ]:
st.isprintable()#printable chars are easily displayed and unprintable chars are esc chars

In [ ]:
print(', '.join(['a','b','c']))#joins elements from an iterable (like a list, tuple, or string) by joining them together using a specified string separator.
print('-'.join("pushpa"))

a, b, c
p-u-s-h-p-a

In [ ]:
trans_table=st.maketrans('aeiou','12345')
st.translate(trans_table)

'p5shp1'

In [ ]:
st=' Pushpa '
st.strip()#st.lstrip() and st.rstrip()

'Pushpa '

In [ ]:
#returns a 3 ele tuple, if sep not found, then (st, "", "")
st1="hello-pushpa"
st1.partition("-")#(1st, sep, last)
#st1.rpartition("-")#(last,set,1st

('hello', '-', 'pushpa')

In [ ]:
st2="Pushpa"
st2.lower().removeprefix("push")#st.removesuffix()

'pa'

In [ ]:
st="hello Pushpa"
st.replace("hello","hi")

'hi Pushpa'

In [ ]:
st="p,u,s,h,p,a"
print(st.split(',',2))#splits and returns a list with max 2 split from the let
st.rsplit(',',2)# splits and returns a list with max 2 split from the right

['p', 'u', 's,h,p,a']

['p,u,s,h', 'p', 'a']

In [ ]:
l=[1,2,'a','b']
print(l,type(l))
print(l[0])

t=(1,2,'a','b')
print(t,type(t))
print(t[0])

s={1,2,0,'a','b',True,False}
print(s,type(s))

D={'1':'a','2':'b','3':'c','d':'dates','e':'email'}
print(D,type(D))
D['1']

[1, 2, 'a', 'b'] <class 'list'>
1
(1, 2, 'a', 'b') <class 'tuple'>
1
{0, 1, 2, 'a', 'b'} <class 'set'>
{'1': 'a', '2': 'b', '3': 'c', 'd': 'dates', 'e': 'email'} <class 'dict'>

'a'

In [ ]:
#BUILTIN FUNCTIONS FOR LIST
list1=[1,2,3,'a','b',True,False,1]
list1.append('d')#adds at the end
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd']

In [ ]:
list1=['a','b','c','d']
list1[3]='e'#updates index 3 element
list1

['a', 'b', 'c', 'e']

In [ ]:
list1.extend(['d','e',3,4])
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd', 'e', 3, 4]

In [ ]:
list1.clear()
print(list1)

[]

In [ ]:
list1=[1, 2, 3, 'a', 'b', True, False, 1, 'd']
list2=list1.copy()
print(list2)

[1, 2, 3, 'a', 'b', True, False, 1, 'd']

In [ ]:
list1.count(1)

3

In [ ]:
list1.index('a',0,7)
list1.index('a')

0

In [ ]:
list1.insert(0,'z')
print(list1)

['z', 1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]

In [ ]:
list1.pop()
print(list1)

['a', 'b', 'c']

In [ ]:
list1=['z', 1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]
list1.remove('z')
print(list1)

[1, 2, 3, 'a', 'b', True, False, 1, 'd', 'd', 'e', 3, 4]

In [ ]:
list1.reverse()
print(list1)

[4, 3, 'e', 'd', 'z', 'e', 'd', 'd', 'b', 'a']

In [ ]:
l=[ 'e', 'd', 'd' ,'b', 'a', 'z']
l[0]

'e'

In [ ]:
l=[ 'e', 'd', 'd' ,'b', 'a', 'z']
min(l)
max(l)

'z'

In [ ]:
l[-1]

'z'

In [ ]:
l[:3:1]

['e', 'd', 'd']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[0:len(l):1]

['z', 'a', 'b', 'd', 'd', 'e']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[::]

['z', 'a', 'b', 'd', 'd', 'e']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[-1:-(len(l)+1):-1]

['e', 'd', 'd', 'b', 'a', 'z']

In [ ]:
l=['z', 'a', 'b', 'd', 'd', 'e']
l[::-1]

['e', 'd', 'd', 'b', 'a', 'z']

In [ ]:
l=['z', 'a', 'b', 'c', 'd', 'e']
l[-2:2:-1]#second last till index 3

['d', 'c']

In [ ]:
l=['z', 'a', 'b', 'c', 'd', 'e']
l[len(l)-1:3:-1]#last index till index 4

['e', 'd']

In [ ]:
# builtin functions for tuple
T=(1,'a',3,5,7,'a','c',1,'a')
T

(1, 'a', 3, 5, 7, 'a', 'c', 1, 'a')

In [ ]:
T[1]

'a'

In [ ]:
T[1:4]

('a', 3, 5)

In [ ]:
T[::-1]

('a', 1, 'c', 'a', 7, 5, 3, 'a', 1)

In [ ]:
T.count('a')

3

In [ ]:
T.index('c')

6

In [ ]:
len(T)

9

In [ ]:
T1=(1,2,3,4,5)
max(T1)
min(T1)

1

In [ ]:
L=[1,2,3]
T=tuple(L)
T

(1, 2, 3)

In [ ]:
#builtin functions for Set
S={1,3,5,7,9,True,'a',3}
S.add('b')
S

{1, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.clear()
S

set()

In [ ]:
S={1,3,5,7,9,True,'a'} #Boolean True is treated as integer 1 in sets
S1=S.copy()#creates a new copy of S in memory.So change in S1 has no effect on S
S1.add('b')
print('S1 is: ',S1)
print('S is: ',S)

S1 is:  {'a', 1, 3, 5, 7, 9, 'b'}
S is:  {'a', 1, 3, 5, 7, 9}

In [ ]:
S={1,3,5,7,9,True,'a'}
S.remove(1)
print(S)

{3, 5, 7, 9, 'a'}

In [ ]:
s={1,2,3}
s.pop()#removes and returns the arbitrary ele as set is not ordered.
s # popped set

{2, 3}

In [ ]:
S1.difference(S)#returns a new  set S1-S

{'b'}

In [ ]:
S={1, 3, 5, 'b', 7, 9, 'a'}
S1={1,3}
S.difference_update(S1)#updates the original set, returns nothing
S

{5, 7, 9, 'a', 'b'}

In [ ]:
S.discard(5)#updates set with discarding the arg, returns nothing
S

{7, 9, 'a', 'b'}

In [ ]:
S1={7,'c'}
S.intersection(S1)#returns the intersection

{7}

In [ ]:
S.intersection_update(S1)#updates the set as intersection, returns nothing
S

{7}

In [ ]:
S.isdisjoint(S1)#boolean

False

In [ ]:
S.issubset(S1)#boolean

True

In [ ]:
S.issuperset(S1)#boolean

False

In [ ]:
S={1, 3, 5, 'b', 7, 9, 'a'}
S1={1,10,11}
S.symmetric_difference(S1)#Returns So+S1o

{10, 11, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.symmetric_difference_update(S1) #updates set with So+S1o and returns nothing
S

{1, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.union(S1)

{1, 10, 11, 3, 5, 7, 9, 'a', 'b'}

In [ ]:
S.update({'a','e','i','o','u'})#updates and returns nothing
S

{1, 3, 5, 7, 9, 'a', 'b', 'e', 'i', 'o', 'u'}

In [ ]:
#BUILTIN METHODS FOR DICTIONARY
D={'1':'a','2':'b','3':'c','4':'d','5':'e'}
D1=D.copy()

In [ ]:
D1.clear()
D1

{}

In [ ]:
D.get(1)#D['1']

'a'

In [ ]:
#D.append() No append() as D is unordered
D['6']='b' # if key '6' already exists, it updates the value.
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b'}

In [ ]:
del D['6']
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e'}

In [ ]:
D.update({'6':'b','7':'c'})
D

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b', '7': 'c'}

In [ ]:
D.keys()#list of keys

dict_keys(['1', '2', '3', '4', '5', '6', '7'])

In [ ]:
D.values()#list of values

dict_values(['a', 'b', 'c', 'd', 'e', 'b', 'c'])

In [ ]:
my_dict = {'apple': 3, 'banana': 7, 'orange': 5}
print(my_dict.items())# list of (key, value) tuples

# Using items() to get key-value pairs
for k, v in my_dict.items():
    print(f"Key: {k}, Value: {v}")

dict_items([('apple', 3), ('banana', 7), ('orange', 5)])
Key: apple, Value: 3
Key: banana, Value: 7
Key: orange, Value: 5

In [ ]:
{k:v for k,v in my_dict.items()if k.startswith(('a' , 'e' ,'i' , 'o' , 'u'))}#dict comprehension

{'apple': 3, 'orange': 5}

In [ ]:
D={'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b'}
print(D.pop('1'))# D['1'] but pots the ele too.
# D.pop('7')#KeyError
print(D)

a
{'2': 'b', '3': 'c', '4': 'd', '5': 'e', '6': 'b'}

In [ ]:
D.popitem()#remove and return an arbitrary (key, value) pair as a tuple.

('6', 'b')

In [ ]:
L=['a','b','c']
dict.fromkeys(L,1)#creates a new dictionary with keys from an iterable and assigns the default value to each key.
dict.fromkeys(L)#None val is assigned to each key

{'a': None, 'b': None, 'c': None}

In [ ]:
D={'a':1,'b':2}
print(D.setdefault('c', 3)) # returns a value associated with a given key and updates the D.
D
#D.setdefault('b', 3)# If the key is present in the dictionary, it returns the original value.

3

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# POSITIVE AND NEGATIVE INDEXING IN L AND T(slicing list=creates a new copy but not in np)
l=[0,1,2,3,4,5,6,7,8,9]
print(l[::])
print(l[:5:2])
print(l[::-1])#default index
print(l[-1:-11:-1])#default index
print(l[-1:-(len(l)+1):-1])#default index
print(l[-6::-1])
print(l[-6:-8:-1])
print(l[-len(l)])#accesses ele at -10 index

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]
[4, 3, 2, 1, 0]
[4, 3]
0

In [ ]:
l=[0,1,2,3,4,5,6,7,8,9]
# POSITIVE SLICING
# 1. positive indexing
print(l[1::2])
# 2. negative indexing
print(l[-6::2])

# NEGATIVE SLICING
# 1.negative indexing
print(l[-1:-4:-1])
# 2. positive indexing
print(l[4:1:-1])# 5th to 3rd index in reverse
print(l[:2:-1])# last to 4th index in reverse.

[1, 3, 5, 7, 9]
[4, 6, 8]
[9, 8, 7]
[4, 3, 2]
[9, 8, 7, 6, 5, 4, 3]

In [ ]:
# RANDOM MODULE
import random
random_number = random.randint(1, 10)# returns random integer between a and b.
print(random_number)

7

In [ ]:
import random
random_number = random.random()# returns random float between 0 & 1
print(random_number)

In [ ]:
import random
random_float = random.uniform(1.5, 5.5)## returns random float between a & b
print(random_float)

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random_choice = random.choice(my_list)#returns random no from the list
print(random_choice)

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random.shuffle(my_list)# returns the randomly shuffled list.
print(my_list)

[4, 5, 1, 3, 2]

In [ ]:
import random
my_list = [1, 2, 3, 4, 5]
random_samples = random.sample(my_list, 3)#returns the random sample list with given len
print(random_samples)

[2, 4, 3]

In [ ]:
    # MATH MODULES
    #math.constants
import math
print(math.inf)
print(math.nan)
print(math.pi)
print(math.tau)
print(math.e)
print(math.sin(0))#accepts only radian values
print(math.radians(90))
print(math.exp(math.log(2)))
print(math.ceil(10.1))
print(math.floor(10.1))
print(math.trunc(10.12))
print(math.factorial(10))
print(math.gcd(10,15))
# Built-in Functions like abs(), min(), max(), round(), sum(), len(),
# type(), int(), float(), str(), list(), tuple(), and dict()
# are available without importing any module.

inf
nan
3.141592653589793
6.283185307179586
2.718281828459045
0.0
1.5707963267948966
2.0
11
10
10
3628800
5

In [ ]:
#list() method: creates a new list from ite obj
l=list()#creates an empty list
l=[]#creates an empty list
my_tuple = (1, 2, 3)
list_from_tuple = list(my_tuple)
print(list_from_tuple)

my_string = "hello"
list_from_string = list(my_string)
print(list_from_string)

my_dict = {'a': 1, 'b': 2}
list_from_dict = list(my_dict)
print(list_from_dict)  # Output: ['a', 'b']
list_from_dict1 = list(my_dict.values())
print(list_from_dict1)

[1, 2, 3]
['h', 'e', 'l', 'l', 'o']
['a', 'b']
[1, 2]

In [ ]:
#zip(list1,list2,list3): gives a list of tuple combing multiple ite elementwise
ite1 = [1, 2, 3]
ite2 = ['a', 'b', 'c']
print(list(zip(ite1, ite2)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [ ]:
#dict() method: creates a new dict from other iterable obj
my_dict = dict()# OR my_dict = {}
# Creating a dictionary with list of key-value tuple
new_dict = dict([('a', 1), ('b', 2), ('c', 3)])
print(new_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
keys = ['a', 'b', 'c']
values = [1, 2, 3]

# Creating a dictionary using dictionary comprehension
my_dict = {k: v for k, v in zip(keys, values)}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Creating a dictionary using keyword arguments
keyword_dict = dict(a=1, b=2, c=3)
print(keyword_dict)  # Output: {'a': 1, 'b': 2, 'c': 3}

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
# Python operators: Arithmetic,Assignment,logical,Comparision Operator

# Arithmetic Operator
a=10
b=3
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)# floor division=quotient
print(a%b)# modulus= remainder
print(a**b)# exponential= power

13
7
30
3.3333333333333335
3
1
1000

In [ ]:
# Assignment Operator
a=10
b=2
a+=b
print(a)

a=10
b=2
a-=b
print(a)

a=10
b=2
a*=b
print(a)

a=10
b=2
a/=b
print(a)


a=10
b=2
a%=b
print(a)

a=10
b=2
a//=b
print(a)

a=10
b=2
a**=b
print(a)

12
8
20
5.0
0
5
100

In [ ]:
# BITWISE AND OPERATOR
a=10 #1010
b=2 #0010
a &= b
print(a)# 0010 in binary=2
# 1&1=1
# 1&0=0
# 0&0=0

2

In [ ]:
#BITWISE OR OPERATOR
a=10
b=2
a|=b
print(a)
# 1|1=1
# 1|0=1
# 0|0=0

10

In [ ]:
#LEFT AND RIGHT SHIFTING OF BINARY
#1010 << 2 means shifting 1010 two positions to the left: 101000
#1010 >> 2 means shifting 1010 two positions to the right: 10
a=1010
b=2
a>>=b
print(a)

252

In [ ]:
#EXCLUSIVE OR OPERATION
a=10
b=2
a^=b
print(a)
# 1^1=0
# 0^0=0
# 0^1=1

8

In [ ]:
#COMPARISION OPERATOR
a=10
b=5
print(a==b)

False

In [ ]:
a=10
b=5
print(a!=b)

True

In [ ]:
a=10
b=5
print(a>b)

True

In [ ]:
a=10
b=5
print(a<b)

False

In [ ]:
a=10
b=5
print(a<=b)

False

In [ ]:
a=10
b=5
print(a>=b)

True

In [ ]:
a=5
b=8
c=10
print(a<b and a<c)
print(a<b and c<a)
print(b<a and a<c)

True
False
False

In [ ]:
a=5
b=8
c=10
print(a<b or a<c)
print(a<b or c<a)
print(b<a or a<c)
print(b<a or c<a)

True
True
True

In [ ]:
a=5
b=8
c=10
print(not(a<b and a<c))

False

In [ ]:
#IF-ELSE CONDITIONS
a = 10
b = 20

if a > b: # False
  print('a is greater than b')
else:
  print('a is not grater than b')

In [ ]:
a = 10
b = 20
c = 30

if (a < b) and (c < a):
  print("condition is True")
else:
  print('print condition is not true')

condition is True

In [ ]:
a = 10
b = 20
c = 30

if (a < b) or (b > c) and (a>c):
  print("condition is True")

condition is True

In [ ]:
a = 10
b = 20
c = 30

if (a < b) and ((b > c) and (a>c)):
  print("condition is True")
else:
  print('the above condition did not meet')

the above condition did not meet

In [ ]:
a = 10
b = 20
c = 30

if (a > b):
  print('b>c')
elif (a>c):
  print('a>c')
elif(b>c):
  print('a>c')
else:
  print('none of the condition is true')

none of the condition is true

In [ ]:
age = 70
if (age < 21):
  print('you are too young to buy a beer')
elif (age>=21)and (age<=60):
  print('You are an adult, you can buy a beer')
elif(age>60) and (age<+80):
  print('you are ageing, limit the alcohol consumption!')
else:
  print('Please, dont drink!')
print('This is ourside the loop.')

you are ageing, limit the alcohol consumption!
This is ourside the loop.

In [ ]:
#NESTED IF CONDITIOINS
a = 65
if a < 100:
  print('a < 100')
  if a < 90:
    print('a < 90')
    if a < 70:
      print('a < 70')
      if a < 60:
        print('a < 60')
      else:
        print('a>=60')
    else:
      print('a>=70')
  else:
    print('a >=90')
else:
  print('a>= 100')

a < 100
a < 90
a < 70
a>=60

In [ ]:
a =90
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

a < 100
else of a < 85

In [ ]:
a = 50
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

a < 100
a < 85
a < 70
a < 55

In [ ]:
a = 100
if a < 100:
  print('a < 100')
  if a < 85:
    print('a < 85')
    if a < 70:
      print('a < 70')
      if a < 55:
        print('a < 55')
      else:
        print('else of a < 55')
    else:
      print('else of a < 70')
  else:
    print('else of a < 85')
else:
  print('else of a < 100')

else of a < 100

In [ ]:
#LOOP
sum = 0
for i in range(1, 101, 1):
  sum += i
print(sum)

5050

In [ ]:
sum = 0
for i in range(100, 0, -1):
  sum += i
print(sum)

5050

In [ ]:
i = 1
sum = 0

while i < 101:
  sum += i
  i += 1
print (sum)

5050

In [ ]:
i = 100
sum = 0

while i > 0:
  sum += i
  i -= 1
print (sum)

5050

In [ ]:
for i in range(1, 11, 1):
    if i%2==0:
      print(i, 'is even number')
    else:
      print(i,"is odd number")

1 is odd number
2 is even number
3 is odd number
4 is even number
5 is odd number
6 is even number
7 is odd number
8 is even number
9 is odd number
10 is even number

In [ ]:
sum=0
for i in range(1, 11, 1):
  sum+=i
  print(sum)
else:
  print("we are in else part")

1
3
6
10
15
21
28
36
45
55
we are in else part

In [ ]:
i = 10
sum = 0
while i >5:
  sum += i
  print(sum)
  i -= 1
else:
  print ('we are in else part')

10
19
27
34
40
we are in else part

In [ ]:
#Nested for loop
for i in range(10):
  for j in range(20):
    print('*', end=' ')# inner loop prints 20 * on the same line with a space inbetween
  print('')# adds new line as *s are printed on same line
print('Nested for loop is done printing a rectangle')

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
#print triangle with 10 *
for i in range(10):
  for j in range(i+1):
    print('*' ,end=' ' )
  print('')
print('Nested for loop is done printing a triangle')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *
Nested for loop is done printing a triangle

In [ ]:
# print pyramid
for i in range(10):
  for j in range(10-i):
    print('',end=' ' )# for i=0, it prints 10 ''

  for k in range(i+1):# for i=0, it prints 1 '*'
    print('*' ,end=' ' )
  print('')
print('Nested for loop is done printing a pyramid')

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *
Nested for loop is done printing a pyramid

In [ ]:
for i in range(10):
    for k in range(i):
        print('' ,end=' ' )
    for j in range(10-i):
     print('*',end=' ' )
    print('')

* * * * * * * * * *
 * * * * * * * * *
  * * * * * * * *
   * * * * * * *
    * * * * * *
     * * * * *
      * * * *
       * * *
        * *
         *

In [ ]:
i=0
while i<10:
  j=0
  while j<20:
    print('*', end=' ')# prints on the same line with a space
    j+=1
  print('')
  i+=1

* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * *

In [ ]:
i=0
while i<10:
  j=0
  while j<i+1:
    print('*' ,end=' ' )
    j+=1
  i+=1
  print('')

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
i=0
while i <10:
  j=0
  while j< 10-i:
    print('',end=' ' )
    j+=1
  k=0
  while k<i+1:
    print('*' ,end=' ' )
    k+=1
  print('')
  i+=1

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
for i in range (0,10,1):
    for j in range (0,10,1):
        print("[",i,'-',j,"]",end='')
    print()

[ 0 - 0 ][ 0 - 1 ][ 0 - 2 ][ 0 - 3 ][ 0 - 4 ][ 0 - 5 ][ 0 - 6 ][ 0 - 7 ][ 0 - 8 ][ 0 - 9 ]
[ 1 - 0 ][ 1 - 1 ][ 1 - 2 ][ 1 - 3 ][ 1 - 4 ][ 1 - 5 ][ 1 - 6 ][ 1 - 7 ][ 1 - 8 ][ 1 - 9 ]
[ 2 - 0 ][ 2 - 1 ][ 2 - 2 ][ 2 - 3 ][ 2 - 4 ][ 2 - 5 ][ 2 - 6 ][ 2 - 7 ][ 2 - 8 ][ 2 - 9 ]
[ 3 - 0 ][ 3 - 1 ][ 3 - 2 ][ 3 - 3 ][ 3 - 4 ][ 3 - 5 ][ 3 - 6 ][ 3 - 7 ][ 3 - 8 ][ 3 - 9 ]
[ 4 - 0 ][ 4 - 1 ][ 4 - 2 ][ 4 - 3 ][ 4 - 4 ][ 4 - 5 ][ 4 - 6 ][ 4 - 7 ][ 4 - 8 ][ 4 - 9 ]
[ 5 - 0 ][ 5 - 1 ][ 5 - 2 ][ 5 - 3 ][ 5 - 4 ][ 5 - 5 ][ 5 - 6 ][ 5 - 7 ][ 5 - 8 ][ 5 - 9 ]
[ 6 - 0 ][ 6 - 1 ][ 6 - 2 ][ 6 - 3 ][ 6 - 4 ][ 6 - 5 ][ 6 - 6 ][ 6 - 7 ][ 6 - 8 ][ 6 - 9 ]
[ 7 - 0 ][ 7 - 1 ][ 7 - 2 ][ 7 - 3 ][ 7 - 4 ][ 7 - 5 ][ 7 - 6 ][ 7 - 7 ][ 7 - 8 ][ 7 - 9 ]
[ 8 - 0 ][ 8 - 1 ][ 8 - 2 ][ 8 - 3 ][ 8 - 4 ][ 8 - 5 ][ 8 - 6 ][ 8 - 7 ][ 8 - 8 ][ 8 - 9 ]
[ 9 - 0 ][ 9 - 1 ][ 9 - 2 ][ 9 - 3 ][ 9 - 4 ][ 9 - 5 ][ 9 - 6 ][ 9 - 7 ][ 9 - 8 ][ 9 - 9 ]

In [ ]:
i=0
while i<10:
    j=0
    while j<10:
        print("[",i,'-',j,"]",end='')
        j+=1
    print()
    i+=1

[ 0 - 0 ][ 0 - 1 ][ 0 - 2 ][ 0 - 3 ][ 0 - 4 ][ 0 - 5 ][ 0 - 6 ][ 0 - 7 ][ 0 - 8 ][ 0 - 9 ]
[ 1 - 0 ][ 1 - 1 ][ 1 - 2 ][ 1 - 3 ][ 1 - 4 ][ 1 - 5 ][ 1 - 6 ][ 1 - 7 ][ 1 - 8 ][ 1 - 9 ]
[ 2 - 0 ][ 2 - 1 ][ 2 - 2 ][ 2 - 3 ][ 2 - 4 ][ 2 - 5 ][ 2 - 6 ][ 2 - 7 ][ 2 - 8 ][ 2 - 9 ]
[ 3 - 0 ][ 3 - 1 ][ 3 - 2 ][ 3 - 3 ][ 3 - 4 ][ 3 - 5 ][ 3 - 6 ][ 3 - 7 ][ 3 - 8 ][ 3 - 9 ]
[ 4 - 0 ][ 4 - 1 ][ 4 - 2 ][ 4 - 3 ][ 4 - 4 ][ 4 - 5 ][ 4 - 6 ][ 4 - 7 ][ 4 - 8 ][ 4 - 9 ]
[ 5 - 0 ][ 5 - 1 ][ 5 - 2 ][ 5 - 3 ][ 5 - 4 ][ 5 - 5 ][ 5 - 6 ][ 5 - 7 ][ 5 - 8 ][ 5 - 9 ]
[ 6 - 0 ][ 6 - 1 ][ 6 - 2 ][ 6 - 3 ][ 6 - 4 ][ 6 - 5 ][ 6 - 6 ][ 6 - 7 ][ 6 - 8 ][ 6 - 9 ]
[ 7 - 0 ][ 7 - 1 ][ 7 - 2 ][ 7 - 3 ][ 7 - 4 ][ 7 - 5 ][ 7 - 6 ][ 7 - 7 ][ 7 - 8 ][ 7 - 9 ]
[ 8 - 0 ][ 8 - 1 ][ 8 - 2 ][ 8 - 3 ][ 8 - 4 ][ 8 - 5 ][ 8 - 6 ][ 8 - 7 ][ 8 - 8 ][ 8 - 9 ]
[ 9 - 0 ][ 9 - 1 ][ 9 - 2 ][ 9 - 3 ][ 9 - 4 ][ 9 - 5 ][ 9 - 6 ][ 9 - 7 ][ 9 - 8 ][ 9 - 9 ]

In [ ]:
#PYTHON BUILT IN FUNCTIONS
a=int(input('Enter your marks in Math: '))
b=int(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math: 100
Enter your marks in Science: 90
190

In [ ]:
a=float(input('Enter your marks in Math: '))
b=float(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math90
Enter your marks in Science90
180.0

In [ ]:
a=complex(input('Enter your marks in Math: '))
b=complex(input('Enter your marks in Science: '))
print(a+b)

Enter your marks in Math: 2j
Enter your marks in Science: 3j
5j

In [ ]:
a=str(200)
print (a)

200

In [ ]:
str1='pushpa'
print(list(str1))
print(tuple(str1))
print(set(str1))

['p', 'u', 's', 'h', 'p', 'a']
('p', 'u', 's', 'h', 'p', 'a')
{'p', 'u', 'a', 'h', 's'}

In [ ]:
list_tup1=[(1,'a'),(2,'b'),(3,'c')]
print(dict(list_tup1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
list_list1=[[1,'a'],[2,'b'],[3,'c']]
print(dict(list1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
tup_tup1=((1,'a'),(2,'b'),(3,'c'))
print(dict(list_tup1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
tup_list1=([1,'a'],[2,'b'],[3,'c'])
print(dict(tup_list1))

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
# set_list1={[1,'a'],[2,'b'],[3,'c']}
# print(dict(set_list1)) Gives error as  dictionary keys cannot be mutable but list are mutable

In [ ]:
set_tup1={(1,'a'),(2,'b'),(3,'c')}
print(dict(set_tup1))

{2: 'b', 1: 'a', 3: 'c'}

In [ ]:
#NUMBER FORMAT
# for i in range(0,100,1):
#     print('Decimal: ',i)#base-10
#     print('Binary: ',bin(i))# base-2
#     print('Octa Decimal: ',oct(i))# base-8
#     print('Hexa Decimal: ',hex(i))#base-16

In [ ]:
list1=['a','b','c','d']#saves each ele in memory
x=iter(list1)#doesnt save ele in memory.
print(next(x))
print(next(x))
print(next(x))
print(next(x))

a
b
c
d

In [ ]:
set1={'a','b','c','d'}
it=iter(set1)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

b
c
a
d

In [ ]:
str1="pushpa"
it=iter(str1)
print(next(it))
print(next(it))
print(next(it))
print(next(it))

p
u
s
h

In [ ]:
#Complete Built in functions
print(abs(-2))

2

In [ ]:
#all() Returns True if all elements are True or list is empty
print(all([True,True,True]))

True

In [ ]:
num=[1,2,3,4]
all(i % 2 == 0 for i in num)

False

In [ ]:
#any() Returns True if any elements are True or False if list is empty
print(any([False,False,False]))

False

In [ ]:
num=[1,2,3,4]
any(i % 2 == 0 for i in num)

True

In [ ]:
# ASCII Characters:
# Letters: A-Z, a-z
# Numbers: 0-9
# Punctuation: !@#$%^&*()_+-=[]{}|;':",./<>?
# ASCII characters
ascii_str = 'Hello, this is an example with ASCII characters: !@#$%^&*()_+-=[]{}|;\'":,./<>?'
print(ascii(ascii_str))# returns only the string containing a printable obj

In [ ]:
# bin () converts and returns a binary no
bin(5)

'0b101'

In [ ]:
#bool()
# The bool() function evaluates different types of values and returns True for non-zero numerical values,
#  non-empty sequences (like strings, lists, tuples), and any non-None object.
#   It returns False for zero values, empty sequences, and None.
bool(1)

True

In [ ]:
#sets a breakpoint in your Python code for debugging purposes.
def some_function():
    x = 10
    y = 20
    z = x + y

    # Set a breakpoint here
    breakpoint()

    print(z)

some_function()

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.10/bdb.py", line 336, in set_trace
    sys.settrace(self.trace_dispatch)

> <ipython-input-3-7da279b68f93>(10)some_function()
      8     breakpoint()
      9
---> 10     print(z)
     11
     12 some_function()

ipdb> a

PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/lib/python3.10/bdb.py", line 361, in set_quit
    sys.settrace(None)


PYDEV DEBUGGER WARNING:
sys.settrace() should not be used when the debugger is being used.
This may cause the debugger to stop working correctly.
If this is needed, please check:
http://pydev.blogspot.com/2007/06/why-cant-pydev-debugger-work-with.html
to see how to restore the debug tracing back correctly.
Call Location:
  File "/usr/local/lib/python3.10/dist-packages/IPython/core/debugger.py", line 1075, in cmdloop
    sys.settrace(None)

--KeyboardInterrupt--

KeyboardInterrupt: Interrupted by user
30

In [ ]:
#bytearray() -->creates byte arrays from different types of input data
empty_bytearray = bytearray(10)
print(empty_bytearray)
integers = [65, 66, 67, 68]
bytearray_from_list = bytearray(integers)
print(bytearray_from_list)
# This will raise a TypeError since bytes objects are immutable
bytearray_from_list[0] = 69
bytearray_from_list

#Byte arrays are often used to handle binary data, such as reading
# or writing binary files, network communication, or encoding/decoding data.

bytearray(b'\x00\x00\x00\x00\x00\x00\x00\x00\x00\x00')
bytearray(b'ABCD')

bytearray(b'EBCD')

In [ ]:
#byte() -->creates byte object from different types of input data
empty_bytes = bytes(5)  # Create an empty bytes object of size 5
print(empty_bytes)
integers = [65, 66, 67, 68]
bytes_from_list = bytes(integers)
print(bytes_from_list)
# cant update byte obj as its immutable

b'\x00\x00\x00\x00\x00'
b'ABCD'

In [ ]:
#callable()-->It returns True if the object appears callable (i.e.fun), and False otherwise.
print(callable(len))
callable(10)

True

False

In [ ]:
#chr()--> Unicode character for the specified Unicode code point
chr(65)

'A'

In [ ]:
# @classmethod: It's primarily used  to define a class method within a class.
# The method defined using @classmethod receives the cls as the first argument rather than an instance.
# It can be called on the class itself, and it operates on the class and its attributes, not on instances
class MyClass:
    class_variable = 10

    def __init__(self, value):
        self.value = value

    @classmethod
    def show_class_variable(cls):
        print(cls.class_variable)

    @classmethod
    def change_class_variable(cls, new_value):
        cls.class_variable = new_value

# Using class methods
MyClass.show_class_variable()  # Output: 10

MyClass.change_class_variable(20)
MyClass.show_class_variable()  # Output: 20

10
20

In [ ]:
#compile()-->execute Python code dynamically at runtime or when you need to work with Python code as a string.
source_code = '''
def greet(name):
    return f"Hello, {name}!"

result = greet("Alice")
print(result)
'''

compiled_code = compile(source_code, "<string>", "exec")

# Execute the compiled code
exec(compiled_code)

# source: The Python source code as a string or AST object to be compiled.
# filename: A string representing the file from which the code was read. If the code is entered interactively
#      or doesn't originate from a file, you can use " <string>".
# mode: Specifies the kind of code to be compiled. It can be one of the following strings: "exec", "eval", or "single".

Hello, Alice!

In [ ]:
complex(3, 4)

(3+4j)

In [ ]:
#delattr(object, attribute_name)
class MyClass:
    def __init__(self,w, x=0):
        self.w=w
        self.x = x
        self.y = 10
        self.z = 20

    def add_attr(self):
        return self.x + self.y + self.z

obj1 = MyClass(2)
obj1.add_attr()

30

In [ ]:
obj2= MyClass(5)
obj2.add_attr()

30

In [ ]:
getattr(obj2, 'x')

0

In [ ]:
# Deleting an attribute using delattr()
delattr(obj1, 'y')

In [ ]:


# Trying to access the deleted attribute (will raise AttributeError)
# print(obj.y)

# Creating an instance of MyClass
myClass= MyClass(5)

# Accessing and printing the attribute
print(myClass.x)  # Output: 5

# Deleting the attribute using delattr()
# delattr(myClass, 'x')

# Trying to access the deleted attribute (will raise AttributeError)
# print(myClass.x)
# Output (raises AttributeError): AttributeError: 'MyClass' object has no attribute 'x'

0

In [ ]:
#dir([object])-->returns a list of valid attributes for the given object.
class MyClass:
    def __init__(self):
        self.x = 10
        self.y = 20

    def method(self):
        pass

obj = MyClass()

# Listing attributes of the object using dir()
attributes = dir(obj)
print(attributes)

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'method', 'x', 'y']

In [ ]:
#divmod()-->returns a tuple containing the quotient and remainder.
divmod(20, 7)

(2, 6)

In [ ]:
#enumerate(my_list)--> access both the index and value of elements in an iterable object during iteration
my_list = ['apple', 'banana', 'orange']
for index, value in enumerate(my_list):
    print(f"Index: {index}, Value: {value}")

Index: 0, Value: apple
Index: 1, Value: banana
Index: 2, Value: orange

In [ ]:
#eval()-->executes the code written in the string within the current scope.
x = 10
y = 20

result = eval('x + y')
print(result)  # Output: 30

# Using globals and locals
globals_dict = {'x': 5, 'y': 8}
locals_dict = {}

result = eval('x + y', globals_dict, locals_dict)
print(result)  # Output: 13

30
13

In [ ]:
#filter(fun, iterable)-->It filters elements based on a specified function and returns an iterator of the elements that satisfy the condition.
# Function to check if a number is even
def is_even(num):
    return num % 2 == 0

# List of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filtering even numbers using filter()
even_numbers = filter(is_even, numbers)

print(list(even_numbers))  # Output: [2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [ ]:
#frozenset(iterable)-->gives the immutable set
# Creating a frozenset from a list
my_list = [1, 2, 2, 3, 4, 4, 5]
frozen = frozenset(my_list)

print(frozen)

# Operations on frozenset
empty_frozen = frozenset()  # Creating an empty frozenset
print(empty_frozen)  # Output: frozenset()

# Trying to modify a frozenset (results in an AttributeError)
# frozen.add(6)  # Raises AttributeError: 'frozenset' object has no attribute 'add'

frozenset({1, 2, 3, 4, 5})
frozenset()

In [ ]:
# Using frozenset with dictionary
data = {'key1': 100, 'key2': 200, 'key3': 300}
frozen_keys = frozenset(data.keys())

# Using frozen_keys in another set or dictionary
other_set = {frozen_keys}
print(other_set)  # Output: {frozenset({'key1', 'key2', 'key3'})}

{frozenset({'key2', 'key3', 'key1'})}

In [ ]:
#getattr()-->obtains the value of a named attribute of an object.
#hasattr()--> bool
class Example:
    attr_name = 42
obj = Example()

    # Using getattr to access the attribute 'attr' of the object 'obj'
value = getattr(obj, 'attr_name')
print(value)  # Output will be 42

42

In [ ]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person = Person("Alice", 30)

# Dynamically accessing attributes based on user input
attribute_to_get = input("Enter attribute (name or age): ")

if hasattr(person, attribute_to_get):
    value = getattr(person, attribute_to_get)
    print(f"The {attribute_to_get} is {value}")
else:
    print("Attribute not found")

Enter attribute (name or age): name
The name is Alice

In [ ]:
#globals()--> returns a dictionary representing the current global symbol table.
#locals()--> returns a dictionary representing the current local symbol table.
global_var = 10
def my_function():
    local_var = 20
    print("Global variables:")
    print(globals())  # Prints all global variables
    print("\nLocal variables:")
    print(locals())   # Prints all local variables

my_function()
print(locals())

Global variables:
{'__name__': '__main__', '__doc__': 'Automatically created module for IPython interactive environment', '__package__': None, '__loader__': None, '__spec__': None, '__builtin__': <module 'builtins' (built-in)>, '__builtins__': <module 'builtins' (built-in)>, '_ih': ['', "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\n\n    obj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\n    value = getattr(obj, 'attr_name')\n    print(value)  # Output will be 42", "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\nobj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\nvalue = getattr(obj, 'attr_name')\nprint(value)  # Output will be 42", 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', '#glocals()-->\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()', "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# This will raise a TypeError: unhashable type: 'list'\nmy_list = [1, 2, 3]\nprint(hash(my_list))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# print(hash([1, 2, 3])) TypeError: unhashable type: 'list'", '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\nhelp(math)', '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\n#help(math)', '# id()--> returns a unique identifier (an integer) for an object\nx = 42\nprint(id(x))  # Output: An integer representing the memory address of the integer object 42', '#isinstance()-->checks if an object belongs to a certain class or type.\nisinstance(12,int)', '#issubclass()--> checks if a class is a subclass of another class.\nclass Parent:\n    pass\n\nclass Child(Parent):\n    pass\n\nprint(issubclass(Child, Parent))  # Output: True, as Child is a subclass of Parent', '#globals()--> returns a dictionary representing the current global symbol table.\nglobal_var = 10\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()\nprint(locals())'], '_oh': {13: True}, '_dh': ['/content'], 'In': ['', "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\n\n    obj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\n    value = getattr(obj, 'attr_name')\n    print(value)  # Output will be 42", "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\nobj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\nvalue = getattr(obj, 'attr_name')\nprint(value)  # Output will be 42", 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', '#glocals()-->\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()', "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# This will raise a TypeError: unhashable type: 'list'\nmy_list = [1, 2, 3]\nprint(hash(my_list))", "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# print(hash([1, 2, 3])) TypeError: unhashable type: 'list'", '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\nhelp(math)', '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\n#help(math)', '# id()--> returns a unique identifier (an integer) for an object\nx = 42\nprint(id(x))  # Output: An integer representing the memory address of the integer object 42', '#isinstance()-->checks if an object belongs to a certain class or type.\nisinstance(12,int)', '#issubclass()--> checks if a class is a subclass of another class.\nclass Parent:\n    pass\n\nclass Child(Parent):\n    pass\n\nprint(issubclass(Child, Parent))  # Output: True, as Child is a subclass of Parent', '#globals()--> returns a dictionary representing the current global symbol table.\nglobal_var = 10\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()\nprint(locals())'], 'Out': {13: True}, 'get_ipython': <bound method InteractiveShell.get_ipython of <google.colab._shell.Shell object at 0x78130a2e63e0>>, 'exit': <IPython.core.autocall.ZMQExitAutocall object at 0x78130a2e6dd0>, 'quit': <IPython.core.autocall.ZMQExitAutocall object at 0x78130a2e6dd0>, '_': True, '__': '', '___': '', '_i': '#issubclass()--> checks if a class is a subclass of another class.\nclass Parent:\n    pass\n\nclass Child(Parent):\n    pass\n\nprint(issubclass(Child, Parent))  # Output: True, as Child is a subclass of Parent', '_ii': '#isinstance()-->checks if an object belongs to a certain class or type.\nisinstance(12,int)', '_iii': '# id()--> returns a unique identifier (an integer) for an object\nx = 42\nprint(id(x))  # Output: An integer representing the memory address of the integer object 42', '_i1': "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\n\n    obj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\n    value = getattr(obj, 'attr_name')\n    print(value)  # Output will be 42", '_i2': "#getattr()-->obtains the value of a named attribute of an object.\nclass Example:\n    attr_name = 42\nobj = Example()\n\n    # Using getattr to access the attribute 'attr' of the object 'obj'\nvalue = getattr(obj, 'attr_name')\nprint(value)  # Output will be 42", 'Example': <class '__main__.Example'>, 'obj': <__main__.Example object at 0x7812ef348910>, 'value': 'Alice', '_i3': 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', 'Person': <class '__main__.Person'>, 'person': <__main__.Person object at 0x7812ef34a260>, 'attribute_to_get': 'name', '_i4': 'class Person:\n    def __init__(self, name, age):\n        self.name = name\n        self.age = age\n\nperson = Person("Alice", 30)\n\n# Dynamically accessing attributes based on user input\nattribute_to_get = input("Enter attribute (name or age): ")\n\nif hasattr(person, attribute_to_get):\n    value = getattr(person, attribute_to_get)\n    print(f"The {attribute_to_get} is {value}")\nelse:\n    print("Attribute not found")', '_i5': '#glocals()-->\nglobal_var = 10\n\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()', 'global_var': 10, 'my_function': <function my_function at 0x7812ceb3ca60>, '_i6': "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", '_i7': "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          # Output: 42 (for integers, the hash is the value itself)\nprint(hash('Hello'))     # Output: -9073001255818748550 (hash for the string 'Hello')\nprint(hash((1, 2, 3)))   # Output: 2528502973977326415 (hash for the tuple (1, 2, 3))", '_i8': "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# This will raise a TypeError: unhashable type: 'list'\nmy_list = [1, 2, 3]\nprint(hash(my_list))", 'my_list': [1, 2, 3], '_i9': "#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.\nprint(hash(42))          \nprint(hash('Hello'))    \nprint(hash((1, 2, 3)))  \n\n# print(hash([1, 2, 3])) TypeError: unhashable type: 'list'", '_i10': '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\nhelp(math)', 'math': <module 'math' (built-in)>, '_i11': '#help()-->pass the name of a function, class, module, or any object to get information about it.\nimport math\n#help(math)', '_i12': '# id()--> returns a unique identifier (an integer) for an object\nx = 42\nprint(id(x))  # Output: An integer representing the memory address of the integer object 42', 'x': 42, '_i13': '#isinstance()-->checks if an object belongs to a certain class or type.\nisinstance(12,int)', '_13': True, '_i14': '#issubclass()--> checks if a class is a subclass of another class.\nclass Parent:\n    pass\n\nclass Child(Parent):\n    pass\n\nprint(issubclass(Child, Parent))  # Output: True, as Child is a subclass of Parent', 'Parent': <class '__main__.Parent'>, 'Child': <class '__main__.Child'>, '_i15': '#globals()--> returns a dictionary representing the current global symbol table.\nglobal_var = 10\ndef my_function():\n    local_var = 20\n    print("Global variables:")\n    print(globals())  # Prints all global variables\n    print("\\nLocal variables:")\n    print(locals())   # Prints all local variables\n\nmy_function()\nprint(locals())'}

Local variables:
{'local_var': 20}

In [ ]:
#hash()-->returns the hash value of an object if it's hashable, meaning it can be converted into an integer.
print(hash(42))
print(hash('Hello'))
print(hash((1, 2, 3)))

# print(hash([1, 2, 3])) TypeError: unhashable type: 'list'

42
-918179944284408595
529344067295497451

In [ ]:
#help()-->pass the name of a function, class, module, or any object to get information about it.
import math
#help(math)

In [ ]:
# id()--> returns a unique identifier (an integer) for an object
x = 42
print(id(x))  # Output: An integer representing the memory address of the integer object 42

132023213229584

In [ ]:
#isinstance()-->checks if an object belongs to a certain class or type.
isinstance(12,int)

True

In [ ]:
#issubclass()--> checks if a class is a subclass of another class.
class Parent:
    pass

class Child(Parent):
    pass

print(issubclass(Child, Parent))  # Output: True, as Child is a subclass of Parent

True

In [ ]:
#map()-->map() applies a function to each item of an iterable and returns an iterator containing the results.
# Doubling each element in a list using map()
nums = [1, 2, 3, 4, 5]
doubled_nums = map(lambda x: x * 2, nums)
print(list(doubled_nums))  # Output: [2, 4, 6, 8, 10]

# User-defined function
def square_number(x):
    return x ** 2

# Applying the function to a list using map()
num1 = [1, 2, 3, 4, 5]
squared_numbers = list(map(square_number, num1))
print(squared_numbers)  # Output: [1, 4, 9, 16, 25]

[2, 4, 6, 8, 10]
[1, 4, 9, 16, 25]

In [ ]:
#man()-->finds max of iterables, args and key args. same with min()
print(max([1,2,3,4,5]))
print(max(1, 2))
print(max(["apple", "banana", "orange", "kiwi"], key=len))

5
2
banana

In [ ]:
# memoryview()-->  provides a memory view object that exposes an underlying array's buffer interface.
# It allows Python code to access the internal data of an object that supports the buffer protocol without making a copy.
#slicing and copy() make new copy

data = b'Hello, World!' # byte obj
mem_view = memoryview(data) # memoryview obj

# Accessing the elements in the memoryview obj
print(mem_view[0])  # Output: 72 (the ASCII value of 'H')
print(mem_view[1])  # Output: 101 (the ASCII value of 'e')

In [ ]:
# In Python, certain data types and objects do not allow direct access to their internal data without creating copies.
# When direct access is not supported, attempting to interact with the internal memory directly would result in the creation
# of a new copy of the data.For instance, some objects like strings, tuples, and other immutable data types in Python do not
# support the buffer protocol. If you try to access their internal memory using a mechanism like memoryview, Python will not
#  allow direct access; instead, it will create a copy of the data that you can then manipulate.

In [ ]:
# The buffer protocol in Python is a mechanism that defines a standard way for objects to expose their
#  internal data buffers to other Python objects. It enables efficient sharing and manipulation of data
#   between objects without unnecessary data copying.

# Objects that support the buffer protocol provide a standardized interface to access their internal memory
#  buffers, allowing other objects or APIs to interact with the data directly. This protocol is crucial for
#   scenarios where direct access to memory is required, especially when dealing with large datasets or when
#  performance is critical.

In [ ]:
#object()--> returns a new featureless object. It's at the top of the Python object hierarchy and parent class for all subclasses.
class MyClass(object):  # The same as class MyClass:
    pass

# Using MyClass
obj = MyClass()

# **Pandas**

In [ ]:
#open()-->  opens files for handling file operations(read, write and append).
# Opening a file in read mode
import pandas as pd
path = '/content/drive/MyDrive/Dataset/data1.csv'
f=pd.read_csv(path)
f.head(5)

   id  Name  Age Sec
0   1   Ram   25   M
1   2   Sam   23   M
2   3    Jo   24   M
3   4    Li   34   M
4   5  Hari   35   M

In [ ]:
file_path='/content/drive/MyDrive/Dataset/dsinput.txt'
with open(file_path,'w') as f:
    #print(f.read())
    f.write("This line is appended from python")

In [ ]:
file_path='/content/drive/MyDrive/Dataset/dsinput.txt'
with open(file_path,'r') as f1:
    print(f1.read())

This line is appended from python

In [ ]:
#ord()-->ord('A') returns the ordinal value or Unicode code point of A
ord('A')

65

In [ ]:
#pow()-->exponential
print(pow(2, 3))
print(pow(2, 3, 5))  # Calculates (2 ** 3) % 5

8
3

In [ ]:
#property()-->Properties are a way to control the access, modification, and
# deletion of attributes in a class, enabling more controlled behavior than using simple attribute access.Used in getter and setter
class MyClass:
    def __init__(self):
        self._x = None

    def get_x(self):
        return self._x

    def set_x(self, value):
        self._x = value

    x = property(get_x, set_x)

In [ ]:
# property with decorator
class MyClass:
    def __init__(self):
        self._x = None

    @property
    def x(self):
        return self._x

    @x.setter
    def x(self, value):
        self._x = value

In [ ]:
# Getter and Setter in Py
class MyClass:
    def __init__(self):
        self._x = None

    # Getter method for the property
    @property
    def x(self):
        return self._x

    # Setter method for the property
    @x.setter
    def x(self, value):
        if value < 0:
            raise ValueError("Value must be positive.")
        self._x = value

# Creating an instance of the class
obj = MyClass()

# Setting the property using the setter method
obj.x = 10
print(obj.x)  # Output: 10

# Trying to set an invalid value (less than 0)
try:
    obj.x = -5  # This will raise a ValueError
except ValueError as e:
    print(e)

10
Value must be positive.

In [ ]:
#repr()-->  used to obtain the string representation of an object for debugging purpose.
x = 10
r=repr(x)
print(r) # string '10'
print(eval(r)) # int 10

y = [1, 2, 3]
print(repr(y))  # Output: '[1, 2, 3]'

10
10
[1, 2, 3]

In [ ]:
#reversed()--> returns a reverse iterator
print(list(reversed([1,2,3,4,5])))
print(''.join(reversed('pushpa')))
print(tuple(reversed('pushpa')))

[5, 4, 3, 2, 1]
aphsup
('a', 'p', 'h', 's', 'u', 'p')

In [ ]:
#setattr()-->  sets the value of an attribute on an object.
class Person:
    pass

obj = Person()

# Setting attributes using setattr()
setattr(obj, 'name', 'Pushpa')
setattr(obj, 'age', 33)

# Accessing the attributes
print(obj.name)
print(obj.age)

Pushpa
33

In [ ]:
#slice()-->does slicing
my_list = [1, 2, 3, 4, 5]

# Using slice() to create a slice object
my_slice = slice(2, 4)  # Creates a slice object from index 2 to index 4 (exclusive)

# Using the slice object to extract elements from the list
result = my_list[my_slice]
print(result)  # Output: [3, 4]

In [ ]:
#sorted()-->  sorts the iterable obj keeping the original obj unchanged.
print(sorted([1,3,2,5,4]))
sorted('pushpa', reverse=True)

[1, 2, 3, 4, 5]

['u', 's', 'p', 'p', 'h', 'a']

In [ ]:
#staticmethod() -->returns a static method from a function defined within a class.
class MyClass:
    @staticmethod
    def static_method():
        return "This is a static method."

# Calling the static method without an instance of the class
MyClass.static_method()

'This is a static method.'

In [ ]:
class MyClass:
    def __init__(self, value):
        self.value = value

    def instance_method(self):
        return f"This is an instance method. Value: {self.value}"

# Creating an instance of the class
obj = MyClass(10)

# Calling an instance method using the instance
obj.instance_method()

'This is an instance method. Value: 10'

In [ ]:
#str()
name = 'John'
age = 30
info = 'Name: ' + name + ', Age: ' + str(age)
print(info)  # Output: 'Name: John, Age: 30'

Name: John, Age: 30

In [ ]:
#sum()--> sums the elements of iterable obj
my_list = [1, 2, 3, 4, 5]
total = sum(my_list)
print(total)

15

In [ ]:
#super()-->allows you to call methods from a parent class in a subclass.
class ParentClass:
    def __init__(self, value):
        self.value = value
    def show_value(self):
        print(f"Value from ParentClass: {self.value}")

class ChildClass(ParentClass):
    def __init__(self, value, extra):
        super().__init__(value)
        self.extra = extra
    def show_value(self):
        super().show_value()  # Calling the show_value method from the ParentClass
        print(f"Extra value: {self.extra}")

# Creating an instance of the ChildClass
child_obj = ChildClass(10, "Extra Info")
# Calling methods from the ChildClass
child_obj.show_value()

Value from ParentClass: 10
Extra value: Extra Info

In [ ]:
#vars() -->returns the __dict__ attribute of an object
class MyClass:
    def __init__(self, x, y):
        self.x = x
        self.y = y

obj = MyClass(5, 10)

# Retrieving the attributes of the object using vars()
obj_attributes = vars(obj)
print(obj_attributes)  # Output: {'x': 5, 'y': 10}

{'x': 5, 'y': 10}

In [ ]:
# __import__()-->allows dynamic module import based on strings or variables.
module_name = 'math'
math_module = __import__(module_name)

# Accessing attributes/functions from the imported module
print(math_module.sqrt(16))

4.0

In [ ]:
import os
print(os.getcwd())

/content

In [ ]:
#PY USER DEFINED FUNCTION
def calc(a,b,c):
    result=c*(a + b)-a*b/c
    return result
calc(5,2,2)

9.0

In [ ]:
def calc1(a,b,c):
    r1=(a+b+c)
    r2=(a-b-b)
    r3=(a*b*c)
    r4=(a/b/c)
    return {'r1':r1,'r2':r2,'r3':r3,'r4':r4}
calc1(5,3,2)

{'r1': 10, 'r2': -1, 'r3': 30, 'r4': 0.8333333333333334}

In [ ]:
def draw_rectangle(w,l):
    for i in range(w):
        for j in range(l):
            print('*', end=' ')
        print('')
draw_rectangle(5,10)

* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *
* * * * * * * * * *

In [ ]:
def draw_triangle(l):
    for i in range(l):
        for j in range(i):
            print('*', end=' ')
        print('')
draw_triangle(10)

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *

In [ ]:
def draw_pyramid(l):
    for i in range(10):
        for j in range(10-i):
            print('',end=' ' )# for i=0, it prints 10 ''
        k=0
        for k in range(i+1):# for i=0, it prints 1 '*'
            print('*' ,end=' ' )
        print('')
draw_pyramid(10)

          *
         * *
        * * *
       * * * *
      * * * * *
     * * * * * *
    * * * * * * *
   * * * * * * * *
  * * * * * * * * *
 * * * * * * * * * *

In [ ]:
def odd_even(a):
    if a%2==0:
        print('The number',a,'is even')
    else:
        print('The number', a, 'is odd')
odd_even(10)

The number 10 is even

In [ ]:
def eval_grade(n):
    if n>=85:
        print('You passed with First Class Distinction.')
    elif n>=60:
        print('You passed with First Class.')
    elif n>=40:
        print('You passed with Second Class.')
    elif n>=35:
        print('You passed with Third Class.')
    else:
        print('Sorry! You failed. Better luck next time!!')
eval_grade(87)

You passed with First Class Distinction.

In [ ]:
def eval_student(p):
    d1={'Aam': 56, 'Bam': 67, 'Cam': 78, 'Dam': 89, 'Eam': 90, 'Fam': 91, 'Gam': 34, 'Ham': 32, 'Iam': 33, 'Jam': 54, 'Kam':57}
    for k in d1:
        if p==k:
            print(k,'has got',d1[k],'percentage')
        else:
            break
eval_student('Aam')

Aam has got 56 percentage

In [ ]:
def eval_student(k):
    d1={'Aam': 56, 'Bam': 67, 'Cam': 78, 'Dam': 89, 'Eam': 90, 'Fam': 91, 'Gam': 34, 'Ham': 32, 'Iam': 33, 'Jam': 54, 'Kam':57}
    for k in d1:
        if k==d1[k]:
            if d1[k]>=85:
                print('You passed with First Class Distinction.')
            elif d1[k]>=60:
                print('You passed with First Class.')
            elif d1[k]>=40:
                print('You passed with Second Class.')
            elif d1[k]>=35:
                print('You passed with Third Class.')
            else:
                print('Sorry! You failed. Better luck next time!!')
        else:
            break
eval_student('Aam')

In [ ]:
def any_arg(*args):
    return args
any_arg(10)
any_arg(10,20)
any_arg(10,20,30)
any_arg(10,20,30,40)

(10, 20, 30, 40)

In [ ]:
def any_name(*names):
    return names
print('Pushpa')
print('Pushpa','Rosie')
print('Pushpa','Rosie','Madan')
print('Pushpa','Rosie','Madan','Dhana',"Deepa")

Pushpa
Pushpa Rosie
Pushpa Rosie Madan
Pushpa Rosie Madan Dhana Deepa

In [ ]:
def my_args1(*pushpa):
    return pushpa
my_args1(12,-45.56,12+23j,True,False,'Python',[1,2,3],(12,23,34),{1,2,3,4},{'a':'apple','b':'ball','c':'cat'})

(12,
 -45.56,
 (12+23j),
 True,
 False,
 'Python',
 [1, 2, 3],
 (12, 23, 34),
 {1, 2, 3, 4},
 {'a': 'apple', 'b': 'ball', 'c': 'cat'})

In [ ]:
def any_kwarg(**kwargs):
    return kwargs
print(any_kwarg(fname='Pushpa', mname='', lname='Shrestha'))
print(any_kwarg(Aam=56, Bam=67, Cam=78, Dam=89, Eam=90, Fam=91, Gam=34, Ham=32, Iam=33, Jam=54, Kam=57))

{'fname': 'Pushpa', 'mname': '', 'lname': 'Shrestha'}
{'Aam': 56, 'Bam': 67, 'Cam': 78, 'Dam': 89, 'Eam': 90, 'Fam': 91, 'Gam': 34, 'Ham': 32, 'Iam': 33, 'Jam': 54, 'Kam': 57}

In [ ]:
def any_kwarg1(**kwargs):
    return kwargs
print(any_kwarg1(fname='Pushpa', mname='None', lname='Shrestha',age='30',sex='male'))
print(any_kwarg1(a=50, b=60, c=70, d=80, e=90, f=00, g=10, h=20, i=30, j=40, k=50))

{'fname': 'Pushpa', 'mname': 'None', 'lname': 'Shrestha', 'age': '30', 'sex': 'male'}
{'a': 50, 'b': 60, 'c': 70, 'd': 80, 'e': 90, 'f': 0, 'g': 10, 'h': 20, 'i': 30, 'j': 40, 'k': 50}

In [ ]:
def my_new_arg_func(apple, banana, cherries, *animals, **kwargs):
    return apple, banana, cherries, animals, kwargs
my_new_arg_func('greenapple','yellowbanana','redcherries','app','bat','cat','dog', a= 12,
b= -23,
c= 34.45,
d= -45.56,
e= (12+23j),
f= (-32-43j),
g= True,
h= False,
i= 'Python',
j= 'programming')

('greenapple',
 'yellowbanana',
 'redcherries',
 ('app', 'bat', 'cat', 'dog'),
 {'a': 12,
  'b': -23,
  'c': 34.45,
  'd': -45.56,
  'e': (12+23j),
  'f': (-32-43j),
  'g': True,
  'h': False,
  'i': 'Python',
  'j': 'programming'})

In [ ]:
def my_new_arg_func(apple,  *dates, banana, cherries, **kiwis):
    return apple, banana, cherries, dates, kiwis
my_new_arg_func('greenapple','apple','ball','cat','dog','yellowbanana','redcherries', a= 12,
b= -23,
c= 34.45,
d= -45.56,
e= (12+23j),
f= (-32-43j),
g= True,
h= False,
i= 'Python',
j= 'programming')

TypeError: ignored

In [ ]:
def my_new_arg_func(**kiwis, apple,banana, cherries  *dates):
    return apple, banana, cherries, dates, kiwis
my_new_arg_func(a= 12,
b= -23,
c= 34.45,
d= -45.56,
e= (12+23j),
f= (-32-43j),
g= True,
h= False,
i= 'Python',
j= 'programming',
'greenapple','yellowbanana','redcherries''apple','ball','cat','dog', )

In [ ]:
l=lambda x : x+10
print(l(10))

20

In [ ]:
l=lambda x,y : x+y
print(l(10,5))

15

In [ ]:
l=lambda x,y,z : x+y-z
print(l(10,15,5))

20

In [ ]:
l=lambda w,x,y,z : x+y-w*z/x
print(l(5,10,15,20))

15.0

In [ ]:
nums = [1, 2, 3, 4, 5]
doubled_nums = map(lambda x: x * 2, nums)
print(list(doubled_nums))

[2, 4, 6, 8, 10]

In [ ]:
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Filtering even numbers using filter()
even_numbers = filter(lambda x: x % 2 == 0, nums)

print(list(even_numbers))
print(even_numbers)

[2, 4]
<filter object at 0x7f67ad84b400>

In [ ]:
# Types of Exception-->Syntax, logical & runtime exception
num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
num[11]#IndexError=-->run time error

IndexError: ignored

In [ ]:
try:
    num = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    num[11]
except IndexError as ie:
    print('index error occured:',ie)
print('We handled the exception.')

index error occured: list index out of range
We handled the exception.

In [ ]:
from logging import exception
try:
    t=(1,2,3)
    t.append(4)
except Exception as e:
    print('exception occured:',e)
print('We handled the exception.')

exception occured: 'tuple' object has no attribute 'append'
We handled the exception.

In [ ]:

def sum1(a, b):
    try:
        c = 2
        r= (a + b) ** 2
    except Exception as e:
        print('Exception occurred:', e)
    else:
        print('The sum is calculated without an exception and sum is:',r)
        # This 'else' block will execute only if no exception occurred
    finally:
        print('This is programmed by Pushpa.')

sum1(2, 3)

The sum is calculated without an exception and sum is: 25
This is programmed by Pushpa.

### **Object oriented programming**
Obj is instance(like copies-with its own unique attributes and methods) of a class

In [ ]:
a=10
print(type(a))

<class 'int'>

In [ ]:
name='Pushpa'
print(type(name))

<class 'str'>

In [ ]:
l=[1,2]
print(type(l))

<class 'list'>

In [ ]:
class Car:
    def __init__(self, value):
        self.value = value
obj1=Car('red')
obj2=Car('blue')
print(obj.value)
print(type(obj1))
print(type(obj2))

red
<class '__main__.Car'>
<class '__main__.Car'>

In [ ]:
class Car:
    pass

obj1=Car()
obj2=Car()
obj3=Car()
obj4=Car()

print(type(obj1))
print(type(obj2))
print(type(obj3))
print(type(obj4))

<class '__main__.Car'>
<class '__main__.Car'>
<class '__main__.Car'>
<class '__main__.Car'>

In [ ]:
class student:
    def __init__(self, stu_name, stu_lname, stu_age, stu_gender, stu_mobile, stu_email):
        self.student_fname = stu_name
        self.student_lname = stu_lname
        self.student_age = stu_age
        self.student_gender = stu_gender
        self.student_mobile = stu_mobile
        self.student_email = stu_email
obj1=student('Pushpa','Shrestha',33,'M',9849234567,'pushpa123@gmail.com')

In [ ]:
class Car:
    owner='Pushpa Shrestha'
    make='Toyota'
    model='Camry'
    color='blck'
    transmission='automatic'
    price=30000
    def is_hunk(self):
        return "The car hunks"
obj=Car()
print('The car owner is:', obj.owner)
print('The car color is:', obj.color,'and make is:',obj.make)
print('The car price is:', obj.price)
print('The car transmission is:', obj.transmission)
obj.is_hunk()

The car owner is: Pushpa Shrestha
The car color is: blck and make is: Toyota
The car price is: 30000
The car transmission is: automatic

'The car hunks'

In [ ]:
class Car:
    def __init__(self, owner, make, model, color, transmission, price):
        self.owner = owner
        self.make = make
        self.model = model
        self.color = color
        self.transmission = transmission
        self.price = price

    def car_details(self):
        return f"The car owner is {self.owner}, make is {self.make}, model is {self.model}, color is {self.color}, transmission is {self.transmission}, and price is {self.price}"
obj=Car('Pushpa','Toyota','Camry','Silver','Automatic',25000)
obj.car_details()

'The car owner is Pushpa, make is Toyota, model is Camry, color is Silver, transmission is Automatic, and price is 25000'

In [ ]:
#Inheritence:inherits attributes and methods from parents
class great_grand_parent:
    pass
class grand_parent(great_grand_parent):
    pass
class parent(grand_parent):
    pass
class kid(parent):
    pass

In [ ]:
# Diamond Inheritance

class A:
    def show(self):
        print("Class A")

class B(A):
    def show(self):
        print("Class B")

class C(A):
    def show(self):
        print("Class C")

class D(B, C):
    pass

obj = D()
obj.show()  # Output: Class B according to MRO=method resulution order

In [ ]:
class ToyotaCar:
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def hunk(self):
        return "Beep Beep!"

class Corolla(ToyotaCar):
    def __init__(self, make, year, color, model="Corolla"):
        super().__init__(make, model, year)
        self.color = color

    def safety_features(self):
        return "Advanced safety features included"

class Camry(Corolla):
    def __init__(self, make, year, color, model="Camry"):
        super().__init__(make, model, year)
        self.color = color

    def luxury_features(self):
        return "Added luxury features for a comfortable ride"

class Prius(Camry):
    def __init__(self, make, year, color, model="Prius"):
        super().__init__(make, model, year)
        self.color = color

    def eco_friendly(self):
        return "Eco-friendly features for fuel efficiency"

obj_prius = Prius("Toyota", 2023, "Blue")
print(obj_prius.hunk())
print(obj_prius.luxury_features())

Beep Beep!
Added luxury features for a comfortable ride

In [ ]:
class Computer:
    def __init__(self, ram,processor,hard_disk):
        self.ram = ram
        self.processor=processor
        self.hard_disk=hard_disk
    def disply(self):
        print('ram is:',self.ram,'processor is:',self.processor, 'and hard disk is:',self.hard_disk)

class Laptop(Computer):
    pass



obj_laptop = Laptop('32gb','i7','300gb')
obj_laptop.disply()

ram is: 32gb processor is: i7 and hard disk is: 300gb

In [ ]:
class Computer1:
    def __init__(self, ram,processor,hard_disk):
        self.ram = ram
        self.processor=processor
        self.hard_disk=hard_disk
    def disply1(self):
        print('ram is:',self.ram,'processor is:',self.processor, 'and hard disk is:',self.hard_disk)

class Laptop1(Computer1):
    def __init__(self, ram,processor,hard_disk):
        Computer1. __init__(self, ram,processor,hard_disk)

obj_lap=Laptop1('32gb','i8','200gb')
obj_lap.disply1()

ram is: 32gb processor is: i8 and hard disk is: 200gb

In [ ]:
class Computer2:
    def __init__(self, ram,processor,hard_disk):
        self.ram = ram
        self.processor=processor
        self.hard_disk=hard_disk
    def disply2(self):
        print('ram is:',self.ram,'processor is:',self.processor, 'and hard disk is:',self.hard_disk)

class Laptop2(Computer2):
    def __init__(self, ram,processor,hard_disk):
        super(). __init__(ram,processor,hard_disk)
obj_lap2=Laptop2('16gb','i7','250gb')
obj_lap2.ram='8gb'
obj_lap2.disply2()

ram is: 8gb processor is: i7 and hard disk is: 250gb

In [ ]:
class Computer3:
    def __init__(self, ram,processor,hard_disk):
        self.ram = ram
        self.processor=processor
        self.hard_disk=hard_disk
    def disply3(self):
        print('ram is:',self.ram,'processor is:',self.processor, 'hard disk is:',self.hard_disk)

class Laptop3(Computer3):
    def __init__(self, ram,processor,hard_disk,convertible):
        super(). __init__(ram,processor,hard_disk)
        self.convertible=convertible
    def disply4(self):
            print('Is it convertible:',self.convertible)
obj_lap3=Laptop3('16gb','i7','250gb',True)
obj_lap3.ram='8gb'
obj_lap3.disply3()
obj_lap3.disply4()

ram is: 8gb processor is: i7 hard disk is: 250gb
Is it convertible: True

In [ ]:
# polymorphism: diff classes can share a common method
class car:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print('Drive!!')


class boat:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print('Sail!!')


class plane:
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def move(self):
        print('Fly!!')

In [ ]:
obj_car1 = car('Honda', '2022')
obj_boat1 = boat('Yamaha', '2023')
obj_plane1 = plane('Suzi', '2021')

In [ ]:
for i in (obj_car1, obj_boat1, obj_plane1):
    i.move()

Drive!!
Sail!!
Fly!!

In [ ]:
class macbook:
    def __init__(self, ram, display, hard_disk):
        self.ram = ram
        self.display = display
        self.hard_disk=hard_disk

    def display_info(self):
        print('This', self.__class__.__name__, 'device has',self.ram,'gb of ram, ',self.display,'inches of display and ',self.hard_disk,'gb of hard-disk' )
    def getType(self):
        print('This is a computer')

class iphone:
    def __init__(self, ram, display, hard_disk):
        self.ram = ram
        self.display = display
        self.hard_disk=hard_disk

    def display_info(self):
        print('This', self.__class__.__name__, 'device has',self.ram,'gb of ram, ',self.display,'inches of display and ',self.hard_disk,'gb of hard-disk' )
    def getType(self):
        print('This is a phone')


class ipad:
    def __init__(self, ram, display, hard_disk):
        self.ram = ram
        self.display = display
        self.hard_disk=hard_disk

    def display_info(self):
        print('This', self.__class__.__name__, 'device has',self.ram,'gb of ram, ',self.display,'inches of display and ',self.hard_disk,'gb of hard-disk' )
    def getType(self):
        print('This is an ipad')

In [ ]:
obj_macbook=macbook(32,14,500)
obj_iphone=iphone(8,7,250)
obj_ipad=ipad(4,10,100)

In [ ]:
obj_macbook.display_info()
obj_macbook.getType()

obj_iphone.display_info()
obj_iphone.getType()

obj_ipad.display_info()
obj_ipad.getType()

This macbook device has 32 gb of ram,  14 inches of display and  500 gb of hard-disk
This is a computer
This iphone device has 8 gb of ram,  7 inches of display and  250 gb of hard-disk
This is a phone
This ipad device has 4 gb of ram,  10 inches of display and  100 gb of hard-disk
This is an ipad

In [ ]:
#method overloading
sum([1,2])
sum([1.5,2.5,3.5])

7.5

In [ ]:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)

# Creating vectors
vector1 = Vector(3, 4)
vector2 = Vector(1, 2)

# Adding vectors using the overloaded + operator
resultant_vector = vector1 + vector2 #vector1.__add__(vector2)

# Displaying the components of the resultant vector
print(f"Resultant Vector: ({resultant_vector.x}, {resultant_vector.y})")

Resultant Vector: (4, 6)

In [ ]:
# factors involved in purchasing a property.
#location,size,age,fascilities, city regulations, economy/market, future potential